.firms {
    background: $red;
    padding: 60px 0;
    display: flex;

    &__title {
        font-weight: bold;
        font-size: 24px;
        text-transform: uppercase;
        color: $white;
        width: 350px;
        padding: 30px;
        background: linear-gradient(to left, $white, $red);
    }

    &__list {
        right: 0;
        height: 150px;
        flex-grow: 1;
        background: $white;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    &__logo {
        height: 90px;
        width: 200px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;

        &--hilti {
            background-image: url('../img/hilti.svg');
        }

        &--testo {
            background-image: url('../img/testo.png');
        }

        &--knipex {
            background-image: url('../img/knipex.png');
        }

        &--krause {
            background-image: url('../img/krause.png');
        }
    }
}
