.service {
    background: $white;
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title {
        font-size: 24px;
        text-transform: uppercase;
        color: $black;
        font-weight: bold;
        text-align: center;
        width: 60%;
        margin-bottom: 20px;

        @include tablet {
            width: 80%;
        }

        @include mobile {
            width: 94%;
            font-size: 14px;
        }

        &--red {
            color: $red;
        }
    }

    &__text {
        font-weight: 700;
        text-align: center;
        width: 60%;
        margin-bottom: 40px;

        @include tablet {
            width: 80%;
        }
        @include mobile {
            width: 94%;
            font-size: 14px;
        }
    }
}
