<!-- @extend ../layouts/template.html -->
<section class="first-screen">
  <div class="first-screen__title">Мы - команда<br>высококвалифицированных<br>специалистов!</div>
  <div class="first-screen__form-wrapper">
    <div class="first-screen__form">
      <div class="first-screen__form-title">Заказать консультацию!</div>
      <div class="first-screen__form-item">Закажите бесплатную консультацию:</div>
      <div class="first-screen__form-item">- мы подскажем</div>
      <div class="first-screen__form-item">- подготовим проект и смету</div>
      <input class="first-screen__form-input" type="text" id="call-number" placeholder="Оставить номер телефона"></input>
      <submit class="first-screen__form-button">Заказать консультацию</submit>
      <div class="first-screen__form-note">Заполнение заявки Вас ни к чему не обязывает!</div>
      <div class="first-screen__form-note">Вы сможете отказаться в любой момент.</div>
    </div>
  </div>
</section>
<section class="about-us">
  <div class="about-us__about-text">
    <div class="about-us__title">О нас</div>
    <div class="about-us__text about-us__text--tagline">Мы уже 5 лет на рынке занимаемся установкой, сервисным<br>обслуживанием и продажей сплитсистем.</div>
    <div class="about-us__text">Мы уже 5 лет на
    рынке занимаемся установкой, сервисным<br>обслуживанием и продажей сплитсистем. Мы уже 5 лет<br>на рынке занимаемся установкой, сервисным обслуживанием<br>и продажей сплитсистем.</div>
    <div class="about-us__text">Мы уже 5 лет на
    рынке занимаемся установкой, сервисным<br>обслуживанием и продажей сплитсистем. Мы уже 5 лет<br>на рынке занимаемся установкой, сервисным обслуживанием<br>и продажей сплитсистем. Мы уже 5 лет на рынке занимаемся<br>установкой, сервисным обслуживанием и продажей сплитсистем.</div>
  </div>
  <div class="about-us__photo"></div>
</section>
<section class="firms">
  <div class="firms__title">Мы используем инструменты и технику компаний:</div>
  <div class="firms__list">
    <a class="firms__logo firms__logo--hilti" href="#"></a>
    <a class="firms__logo firms__logo--testo" href="#"></a>
    <a class="firms__logo firms__logo--knipex" href="#"></a>
    <a class="firms__logo firms__logo--krause" href="#"></a>
  </div>
</section>
<!-- @endextend -->
