<!-- @extend ../layouts/template.html -->
<section class="first-screen">
  <div class="first-screen__title">Мы - команда<br>высококвалифицированных<br>специалистов!</div>
  <div class="first-screen__form-wrapper">
    <div class="first-screen__form">
      <div class="first-screen__form-title">Заказать консультацию!</div>
      <div class="first-screen__form-item">Закажите бесплатную консультацию:</div>
      <div class="first-screen__form-item">- мы подскажем</div>
      <div class="first-screen__form-item">- подготовим проект и смету</div>
      <input class="first-screen__form-input" type="text" id="call-number" placeholder="Оставить номер телефона"></input>
      <submit class="first-screen__form-button">Заказать консультацию</submit>
      <div class="first-screen__form-note">Заполнение заявки Вас ни к чему не обязывает!</div>
      <div class="first-screen__form-note">Вы сможете отказаться в любой момент.</div>
    </div>
  </div>
</section>
<section class="about-us">
  <div class="about-us__text-block">
    <div class="about-us__title">О нас</div>
    <div class="about-us__text"><span class="about-us__text-tagline">Мы уже 5 лет на рынке занимаемся установкой, сервисным<br>обслуживанием и продажей сплитсистем.</span>
    <br>
    <br>
    Мы уже 5 лет на
    рынке занимаемся установкой, сервисным<br>обслуживанием и продажей сплитсистем. Мы уже 5 лет<br>на рынке занимаемся установкой, сервисным обслуживанием<br>и продажей сплитсистем.
    <br>
    <br>
    Мы уже 5 лет на
    рынке занимаемся установкой, сервисным<br>обслуживанием и продажей сплитсистем. Мы уже 5 лет<br>на рынке занимаемся установкой, сервисным обслуживанием<br>и продажей сплитсистем. Мы уже 5 лет на рынке занимаемся<br>установкой, сервисным обслуживанием и продажей сплитсистем.</div>
  </div>
  <div class="about-us__photo"></div>
</section>
<section class="brands">
  <div class="brands__wrapper">
    <div class="brands__title">Мы используем инструменты и технику компаний:</div>
    <div class="brands__list">
      <a class="brands__logo brands__logo--hilti" href="#"></a>
      <a class="brands__logo brands__logo--testo" href="#"></a>
      <a class="brands__logo brands__logo--knipex" href="#"></a>
      <a class="brands__logo brands__logo--krause" href="#"></a>
    </div>
  </div>
  <div class="brands__workflow workflow">
    <div class="workflow__item">
      <div class="workflow__photo workflow__photo--hilti"></div>
      <div class="workflow__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus beatae vitae eaque ex autem eum.</div>
    </div>
    <div class="workflow__item">
      <div class="workflow__photo workflow__photo--testo"></div>
      <div class="workflow__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, repudiandae quisquam explicabo repellat distinctio! Nemo.</div>
    </div>
    <div class="workflow__item">
      <div class="workflow__photo workflow__photo--knipex"></div>
      <div class="workflow__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est autem sapiente, accusamus possimus, ipsa illo.</div>
    </div>
    <div class="workflow__item">
      <div class="workflow__photo workflow__photo--krause"></div>
      <div class="workflow__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia officiis sequi possimus praesentium, laboriosam dolorem!</div>
    </div>
  </div>
</section>
<section class="features">
  <div class="features__item features__item--1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa, aspernatur.</div>
  <div class="features__item features__item--2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore, tenetur.</div>
  <div class="features__item features__item--3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores, quos!</div>
</section>
<!-- @endextend -->
