.reviews {
  background-color: $white;
  overflow: hidden;

  &::before,
  &::after {
    content: '';
    display: block;
    width: 100%;
    height: 40px;
    background-color: $red;
    background-size: 10px;
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23630711' fill-opacity='0.18' fill-rule='evenodd'%3E%3Cpath d='M0 40L40 0H20L0 20M40 40V20L20 40'/%3E%3C/g%3E%3C/svg%3E");
  }

  &::before {
    margin-bottom: 50px;
  }

  &::after {
    margin-top: 50px;
  }
}
.reviews-container {
    max-width: 1200px;
    padding-top: 0.1em;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}
.slider-wrapper {
  width: 100%;
}
.slider {
  width: 100%;
  max-height: 420px;
}
.slider__item-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-items: center;
    width: 100%;
}
.reviews__title {
  font-weight: 700;
  line-height: 1.3;
  font-size: 1.5rem;
  font-family: "PT Sans", sans-serif;
  color: $black;
  margin-top: 1em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  margin-top: 0;
  margin-bottom: 2em;
}
.slider__photo {
    background: $red;
    width: 546px;
    height: 300px;
}
.slider__text {
  font-weight: 700;
  line-height: 1.3;
  font-size: 1rem;
  font-family: "PT Sans", sans-serif;
  color: $black;
  margin: 0;
  margin-top: 20px;
  width: 700px;
  text-align: center;
}
.slider-wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.slider-wrapper .slider .prev,
.slider-wrapper .slider .next {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 32px;
  margin: auto;
  cursor: pointer;
}
.slider-wrapper .slider .prev svg,
.slider-wrapper .slider .next svg {
  fill: #d7d7d7;
  transition: fill 0.5s;
}
.slider-wrapper .slider .prev:hover svg,
.slider-wrapper .slider .next:hover svg {
  transition-duration: 0.2s;
  fill: #7b0411;
}
.slider-wrapper .slider .prev {
  left: -30px;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}
.slider-wrapper .slider .next {
  right: -30px;
}
.slick-loading .slick-list {
  background: #d7d7d7 url("http://kenwheeler.github.io/slick/slick/ajax-loader.gif") center center no-repeat;
}
.slick-slider {
  margin-bottom: 30px;
}
.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.slick-slide {
  clear: fix;
  max-width: 100%;
  display: block;
  overflow: hidden;
}
.slick-dots {
  clear: fix;
  position: absolute;
  bottom: -20px;
  display: block;
  width: 100%;
  padding: 0;
  list-style: none;
  text-align: center;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  border: 0;
  outline: none;
  background-color: transparent;
}
.slick-dots li button:hover {
  outline: none;
}
.slick-dots li button:hover:before {
  opacity: 1;
  background-color: #7b0411;
}
.slick-dots li button:before {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 2px solid #d7d7d7;
  display: block;
  content: ' ';
  position: absolute;
}
.slick-dots li.slick-active button:before {
  color: #d7d7d7;
  border-color: #d7d7d7;
  background-color: #d7d7d7;
}
.slick-current,
.slick-active {
  outline: none;
}
@media screen and (max-width: 1024px) {
    .slider {
        max-height: 300px;
    }
}
@media screen and (max-width: 768px) {
  .slider {
    max-height: 600px;
  }
    .slick-dots {
        bottom: -35px;
    }
}

@media screen and (max-width: 767px) {
  .slider {
    max-height: 550px;
  }
      .slick-dots {
        bottom: -25px;
    }
}

